/* Default styles for all screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element dimensions */
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
}

.logo {
    color: #050505;
    cursor: grab;
}

/* Searchbar */
.searchbar {
    display: flex;
    border: solid black 2px;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    border-radius: 30px;
    transition-duration: 1s;
}

/* Filters */
.filter {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

/* Hotels */
.hotels {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
    transition-duration: 20ms;
}

/* Footer */
.footer {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Images */
img {
    transition-duration: 1s;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* Login */
.login:hover {
    color: #ff4668;
}

.logo:hover {
    color: rgb(247, 11, 11);
}

.login {
    cursor: pointer;
}
/*Media query for responsive */

@media (max-width: 768px) {
    .searchbar {
        width: 100%;
    }
    .header {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .searchbar {
        padding: 5px;
    }
    .header {
        padding: 5px;
    }
  }

/* Button Overlay */
.button-overlay {
    position: relative;
    display: inline-block;
    margin-left: 150px;
    margin-top: 20px;
}

.button-overlay button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(246, 19, 19);
    color: white;
    cursor: pointer;
}

.button-overlay h1 {
    text-align: center;
    color: #000;
}

.button-overlay p {
    font-style: italic;
    font-size: 20px;
    color: #000;
}

.button-overlay button:hover {
    background-color: white;
    color: rgb(246, 19, 19);
}

.filter a {
    text-decoration: none;
}



